.vs/
HeadFirstDesignPatterns/bin/Debug/netcoreapp3.0/HeadFirstDesignPatterns.pdb
HeadFirstDesignPatterns/bin/Debug/netcoreapp3.0/HeadFirstDesignPatterns.dll
HeadFirstDesignPatterns/obj/Debug/netcoreapp3.0/HeadFirstDesignPatterns.dll
HeadFirstDesignPatterns/obj/Debug/netcoreapp3.0/HeadFirstDesignPatterns.csprojAssemblyReference.cache
HeadFirstDesignPatterns/obj/Debug/netcoreapp3.0/HeadFirstDesignPatterns.pdb
